$vPrimary: #00a784;
$vSecondary: #01accd;
$vTertiary: #1b4a97;
$vBlack: #222222;
$vOrange: #F9A71B;
$vBlue: #112D5B;
$vAqua: #2ACDED;
$vGrayscale1: #333333;
$vGrayscale2: #666666;
$vGrayscale3: #999999;
$vGrayscale4: #cccccc;
$vGrayscale5: #dadada;
$vGrayscale6: #ebebeb;
$vGrayscale7: #f4f4f4;
$vSuccess: #009444;
$vDandger: #db1f26;